@model IEnumerable<COMP1632.Models.Enquiry>
@{
    ViewBag.Title = "Enquiries";
}
<div class="container" style="padding-left: 0; margin-top: 20px;">
    <div class="row">
        <div class="col-md-4">
            @Html.Partial("_ProfileCustomerPartialNav")
        </div>
        <div class="col-md-8">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Question)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Answer)
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Question)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Answer)
                        </td>

                    </tr>
                }

            </table>
        </div>
    </div>
</div>
