@model COMP1632.ViewModels.ReviewProfileViewModel
@{
    ViewBag.Title = "Review";
}
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Rating, new { id = "Id" })
    @Html.HiddenFor(model => model.TripId)
    <div class="form-horizontal">
        <div class="page-header">
            <h2>Write a @Model.TripTitle trip review:</h2>
        </div>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.Rating, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10 rating" style="padding-top: 8px;">
                @for (int i = 0; i < 5; i++)
                {
                    <div class="rate glyphicon glyphicon-star starEmpty"></div>
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </div>
    </div>
}
@section scripts {

    @Scripts.Render("~/bundles/starRating")
}





