<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CoachTravelling</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("CoachTravelling", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            @if (User.IsInRole("Customer"))
            {
                @Html.Partial("_CustomerPartialNav")
            }
            else if (User.IsInRole("SalesStaff"))
            {
                @Html.Partial("_SalesStaffPartialNav")
            }
            else
            {
                @Html.Partial("_GuestPartialNav")
            }
        </div>
    </div>
</div>
   
<div class="container body-content" style="margin-top: 10px;">
    @if (TempData.ContainsKey("Message"))
    {
        string alertClass = "alert-info";
        if (TempData.ContainsKey("MessageClass"))
        {
            alertClass = (string) TempData["MessageClass"];
        }
        <div class="text-center lead @alertClass" style="margin-top: 10px;" id="alert">
            @TempData["Message"]
        </div>
    } 
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - CoachTravelling - all rights reserved.</p>
    </footer>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        setTimeout(function () {
            $('#alert').fadeOut(300, function () { $(this).remove(); });
        }, 5000);
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
