<ul class="nav navbar-nav navbar-left">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Customers", "Index", "Customers")</li>
    <li>@Html.ActionLink("Trips", "Index", "Trips")</li>
    <li>@Html.ActionLink("Enquiries", "Unanswered", "Enquiry")</li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Logout", "Logout", "Authentication")</li>
</ul>